.DS_Store
/.idea
/dist
timeio_electron/node_modules
/timeio_api/venv
timeio_electron/package-lock.json
/timeio_api/api/migrations/
timeio_api/.env
/timeio_api/db.sqlite3
timeio_app/package-lock.json
/timeio_app/db.sqlite3
/.webpack
/node_modules
package-lock.json
db.sqlite3
